body {
    font: 400 15px Lato, sans-serif !important;
    line-height: 1.8;
    color: #dadada;
    background-color: #dbe4e9;
}

h1{
    margin-left: 10%;
    margin-bottom: 5%;
}

.c-info{
    background-color: rgba(26, 86, 139, 0.9);
    height: 100%;

}

.parallax{

}

.right-col{
    background-color: rgba(67, 98, 238, 0.8);
    padding-top: 8%;
    padding-bottom: 8%;
}
.c-info h1{
    font-family: Lato, sans-serif;
    font-size: 48px;
}

.info h1{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 0%;
    padding-right: 25%;
    padding-left: 25%;
}

.navbar li a, .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: rgba(4, 66, 47, 0.53);
    color: #f4dabf !important;
}
.navbar-default .navbar-toggle {
    border-bottom: solid;
    border-color: transparent;
    color: #fff !important;
    background-color: rgba(66, 66, 65, 0.53)
}
.container-fluid.about .row{
    padding: 4%;
}

.bg-grey{
    margin: 5% 0 5% 0;
}

.contaier-fluid.bg-grey{
    padding-bottom: 5%;
}
.glyphicon-chevron-right, .glyphicon-chevron-left{
    color: #2b669a!important;
    font-size: 60px!important;
}
.carousel-indicators{
    background-color: rgba(60, 60, 60, 0.39);
    border-radius: 5px;
}
.portf{
    color: #3c1416!important;
}

.fill-anim{

}

.footer{
    height: 5%;
    padding: 2%;
    background-color: #3c3c3c;
    color: #c5c5c5;
    box-shadow: 0 0 5px #3c3c3c;
}

.adv-row{
    margin-top: 3%;
    margin-bottom: 3%;
}

.contact-info{
    background-image: url("../img/buhg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-style: solid;
    border-color: #cccccc;
    border-width: 2px;
}

#calc{
    margin: 5%;
    width: 40%;
    height: auto;
    float: right;
}

.box.g h5{
    width: 80%;
}

.hs{
    border-bottom: 2px solid #8a8a89;
    font-weight: normal;
    margin-top: 5%;
    padding-bottom: 14px
}

.info p{
    font-size: 18px;
    color: white;
    padding-top: 5%;
}

.right-col h5,h3{
    color: white;

}

.contact{
    margin-top: -2%;
    padding-top: 5%;
    background-color: #b5bec3;
    padding-bottom: 2%;
}

#contact{

}

.contact2{
    margin-top: -2%;
    background-image: url("../img/main-info.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    background-color: rgba(66, 66, 65, 0.53) !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.logo-small{
    font-size: 80px !important;
}
.g{

}

.jumbotron p{
    font-size: 20px;
    color: #c6c6c6;
}

.box{
    background-color: #c0c0c0;
    box-shadow: 0 0 10px #3c3c3c;
    border-radius: 20px;
    padding: 2%;
}

.box.g {
    padding-left: 4%;
    padding-right: 4%;
}

.min-row{
    padding-bottom: 0%!important;
}

.aac .col-sm-8{
    margin-top: 45%;
    margin-bottom: 20%;
}



.centered{

}

.bg_yel{
    background-color: white;
    margin-right: 0%!important;
    padding-top: 5%;
    padding-bottom: 8%!important;
}



.main-info{
    background-image: url("../img/main-info.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    padding-left: 0%;

}
.fact{
    background-color: #dbe4e9;
    padding-right: 0%;
}

.aac{
    height: 100%;
    background-color: rgba(0, 32, 127, 0.69);
    padding-top: 5%;
}

.right-spaced{
    color: #010102;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 5px;
}

.right-spaced p{
    margin: 4%;
    text-align: center;
    font-size: 21px;
    letter-spacing: 2px;
}

.large-box{
    margin-bottom: 5%;
}

.glyphicon{
    font-size:  120px;
    color: #ff986f;

}
.about{
    background-color: #e7e7e7;
}

.side-log{
    padding-left: 20%;
}

.jumbotron {
    background-color: #404041;
    color: #fff;
    padding: 65px 25px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0px;
}

.container-fluid.contact p{
    margin-left: 12%;
    color: #0f0f0f;
    font-size: 16px;
}



.blue{
    background-color: #283870;
}

.container.contact{
    margin-top: -2%;
    box-shadow: 0 0 10px 0#3c3c3c;
    font-family: Montserrat, sans-serif;

}

.info{
    margin-bottom: 10%;
    padding-right: 25%;
    padding-left: 25%;
}

.col-sm-12 p{
    text-align: center;
}

p{
    color: #283870;
}

.container-fluid{
    padding: 0%!important;

}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #e7e7e7;
    font-weight: 600;
    margin-bottom: 30px;
}
h3{
    font-size: 24px;
    color: #3c3c3c;
    margin-left: 3%;
    margin-bottom: 2%;
}

h4{
    text-align: center;
    font-size: 24px;
    color: #3c3c3c;

}

h5 {
    font-size: 19px;
    line-height: 1.375em;
    color: #424241;
    font-weight: 400;

}

.form-control{
    margin: 9px;
}

.right ,.left{
    background: none!important;
}

#myCarousel{
    z-index: -10;
    margin-top: -2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 10%;
    background-image: url("../img/pejz.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.myl ,.myr{
    color: rgba(255, 241, 229, 0.74) !important;

}

.ats{
    padding-top: 5%;
    color: #111111;
    letter-spacing: 2px;
}

.col-sm-5 .img-rounded{
    margin-left: 15%;
    margin-top: -10%;
    width: 45%;
    height: 380px;
}

.middle-glyph{
    float: right;
    margin-right: 15%;
    font-size: 80px;
}

.forms{
    margin-left: 5%;
    margin-right: 5%;
}

.award{
    color: #ffcc5e;
}

@media screen and (max-width: 768px){
    .img-rounded{
        display: none;
    }
    .glyphicon-question-sign{
        display: none;
    }
    .myr, .myl{
        width: 100%!important;
        height: 100%!important;
    }

    #myCarousel{
        display: none;
    }

}